<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <div class="containerpers">
      <div class="cardpers">
        <div class="profile-picture">
          <img src="https://images.unsplash.com/photo-1704027115927-9f67ab4e39dc?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture">
        </div>
        <h2 class="name"><%= user.username %></h2>
        <h3 class="username"><%= user.username %></h3>
        <p class="tagline"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita,</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum hic rerum libero.</p>
        <a href="/logout" class="button">Logout</a>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="text" name="filecaption" placeholder="Enter caption here">
          <input type="textarea" name="detail" placeholder="Enter details here">
          <input type="file" name="file">
          <input type="submit">
        </form>
      </div>
  </div>
  <div class="container">
    <div class="cards flex">
      <% user.posts.forEach(function (post){ %>
        <div class="card" style="width: 18rem;">
          <img src="/images/uploads/<%= post.image %>" class="card-img-top" alt="..." height="200px">
          <div class="card-body">
            <h5 class="card-title"><%= post.imageText %></h5>
            <p class="card-text">
              <% if (post.detail.length <= 100) { %>
                <%= post.detail %>
              <% } else { %>
                <span id="shortDesc_<%= post._id %>"><%= post.detail.slice(0, 100) %></span>
                <span id="longDesc_<%= post._id %>" style="display: none;"><%= post.detail %></span>
                <a href="#" onclick="toggleSeeMore('<%= post._id %>')">...See More</a>
                <a href="#" onclick="toggleSeeMore('<%= post._id %>', true)" style="display: none;">See Less</a>
              <% } %>
            </p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
<script>
  function toggleSeeMore(postId) {
    var shortDesc = document.getElementById("shortDesc_" + postId);
    var longDesc = document.getElementById("longDesc_" + postId);
    var seeMoreLink = document.querySelector('[onclick="toggleSeeMore(\'' + postId + '\')"]');

    if (longDesc.style.display === "none" || longDesc.style.display === "") {
      shortDesc.style.display = "none";
      longDesc.style.display = "inline";
      seeMoreLink.innerHTML = "See Less";
    } else {
      shortDesc.style.display = "inline";
      longDesc.style.display = "none";
      seeMoreLink.innerHTML = "...See More";
    }
  }
</script>
